<div class="container center">
  <h1>About</h1>
  <p>
    Budgets are the only practical way to get a grip on spending, and to make
    sure your money is being used the way you want it to be.
  </p>

  <h2>BUDGETING GIVES YOU CONTROL</h2>

  <p>
    When you sit down and create a personal budget, you’re taking control of
    your money and not letting your money control you. However, it’s important
    to note that any sound financial plan should be flexible so you’re able to
    adapt in case of emergencies, such as a medical expense or an urgent vehicle
    repair. In fact, that’s precisely what budgeting is for! By creating a
    personal budget, you’ll save yourself the stress of suddenly needing to
    adjust to a lack of funds because you failed to plan how to spend
    appropriately. A personal budget will also give you control over deciding if
    you’d like to sacrifice short term spending, such as visiting Starbucks
    every day, in exchange for a long term goal, like going on a cruise or
    buying a new TV.
  </p>

  <h2>BUDGETING KEEPS YOU ORGANIZED</h2>

  <p>
    When budgeting, we recommend using a template or an online app to keep your
    finances organized. By writing out all your monthly expenses including
    cable, internet, mortgage/rent, insurance, groceries, gym memberships, etc.,
    you’ll make it easy to see exactly how much you need to spend on individual
    services. Not only does this help you stay organized in terms of monthly
    expenses, but if one of your bills goes up, it makes it much easier to spot
    it. For example, if you’ve budgeted $40 a month for insurance and your next
    bill is $53, you’ll be able to quickly notice the change because you have
    everything clearly written out. Creating a personal budget that’s plainly
    written down will also help you be proactive. For instance, because you saw
    that $13 increase in your insurance bill, you would be able to call your
    insurance company ASAP to try and haggle a better rate.
  </p>

  <h2>BUDGETING BUILDS BETTER HABITS</h2>

  <p>
    Once you’ve created your personal budget, you’ll need to stick to it! By
    working hard to make sure you’re spending your money according to your
    budget, you’ll build new and better spending habits. Over time, you will
    find that these habits become easier and easier to maintain. Part of working
    within your budget means shifting your expenses from unnecessary categories
    to the most essential household categories. This will free up your money for
    the most necessary expenses, as well as for debt reduction. By creating a
    personal budget and building better habits, you’ll begin to see real
    financial progress.
  </p>

  <h2>BUDGETING MANAGES DEBT</h2>

  <p>
    Here’s a surprising statement: Not all debt is bad! Taking out a mortgage or
    having a student loan can be constructive forms of debt that could improve
    your financial standing in the future. However, it’s imperative to fully
    understand your debt in order to keep in control of it. This means knowing
    your interest rates, terms, and the length of your loan. Budgeting not only
    provides a clear picture of what you need to pay down your debt, but it also
    helps you understand how much debt you can afford. By creating a personal
    budget, you’ll be able to determine how much of a debt load you can take on
    without getting stressed. It can even help you figure out if taking on debt
    is worth it at all. If you already have debt, a personal budget will help
    you find which areas you can reduce your expenses so that you can afford to
    start making extra payments towards that debt.
  </p>

  <p>Source: https://money.cnn.com/pf/money-essentials-budget/index.html</p>
</div>
