<main id="main" class="container center">
  <!-- 3.Create a new component called "breadcrumbs". You can add any content and CSS that you want to this new component. But now that you created the breadcrumbs component, please add it as the first child of the "main" tag that is inside the homepage component template. -->
  <pb-breadcrumbs></pb-breadcrumbs>

  <pb-article>
    <h2>Stay on track</h2>
    <slot-two
      >Do you know where you are spending your money? If you really stop to
      track it down, you would get surprised! Proper budget management depends
      on real data... and this app will help you with that!</slot-two
    >
  </pb-article>

  <pb-article>
    <h2>Alerts</h2>
    <slot-two
      >What if your clothing budget ended? You will get an alert. The goal is to
      never go over the budget.</slot-two
    >
  </pb-article>

  <pb-article>
    <h2>Results</h2>
    <slot-two
      >People who stick to a financial plan, budgeting every expense, get out of
      debt faster! Also, they to live happier lives... since they expend without
      guilt or fear... because they know it is all good and accounted
      for.</slot-two
    >
  </pb-article>

  <pb-article>
    <h2>Free</h2>
    <slot-two
      >This app is free!!! And you are the only one holding your data!</slot-two
    >
  </pb-article>

  <pb-article>
    <h2>Stay on track</h2>
    <slot-two
      >content="Do you know where you are spending your money? If you really
      stop to track it down, you would get surprised! Proper budget management
      depends on real data... and this app will help you with that!"</slot-two
    >
  </pb-article>

  <pb-article>
    <h2>Alerts</h2>
    <slot-two
      >What if your clothing budget ended? You will get an alert. The goal is to
      never go over the budget.</slot-two
    >
  </pb-article>

  <!-- 5. Make sure that your D3JS chart works with the Angular-way of doing things
You might need to google "Angular D3JS" to see how to use D3JS inside Angular -->
  <pb-charts></pb-charts>
</main>
