<main id="main" class="container center">
  <pb-article>
    <h2>Stay on track</h2>
    <slot-two
      >Do you know where you are spending your money? If you really stop to
      track it down, you would get surprised! Proper budget management depends
      on real data... and this app will help you with that!</slot-two
    >
  </pb-article>

  <pb-article>
    <h2>Alerts</h2>
    <slot-two
      >What if your clothing budget ended? You will get an alert. The goal is to
      never go over the budget.</slot-two
    >
  </pb-article>

  <pb-article>
    <h2>Results</h2>
    <slot-two
      >People who stick to a financial plan, budgeting every expense, get out of
      debt faster! Also, they to live happier lives... since they expend without
      guilt or fear... because they know it is all good and accounted
      for.</slot-two
    >
  </pb-article>

  <pb-article>
    <h2>Free</h2>
    <slot-two
      >This app is free!!! And you are the only one holding your data!</slot-two
    >
  </pb-article>

  <pb-article>
    <h2>Stay on track</h2>
    <slot-two
      >content="Do you know where you are spending your money? If you really
      stop to track it down, you would get surprised! Proper budget management
      depends on real data... and this app will help you with that!"</slot-two
    >
  </pb-article>

  <pb-article>
    <h2>Alerts</h2>
    <slot-two
      >What if your clothing budget ended? You will get an alert. The goal is to
      never go over the budget.</slot-two
    >
  </pb-article>

  <article class="charts">
    <h2>ChartJS</h2>
    <p>
      <canvas class="chartjsClass" id="myChart"></canvas>
    </p>
  </article>

  <!-- <pb-article>
    <h2>ChartJS</h2>
    <slot-two>ChartJs chart go here</slot-two>
  </pb-article> -->

  <pb-article>
    <h2>D3JS Chart</h2>
    <slot-two>D3JS Chart goes here</slot-two>
  </pb-article>

  <!-- <div>
    <h2>D3JS Chart</h2>
    <div id="d3jsChart" width="500" height="400"></div>
  </div> -->
</main>
